:host {
    height: 100vh;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    div.container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .profile-photo {
            margin: auto;
            width: 384px;
            height: 512px;
        }

    }

}