:root {
    --primary: #008584;
    --primary-010: #006666;

    --grey: #cccccc;
    --grey-05: #e9e9e9;

    --white: #f5f5f5;
    
    --black: #10101a;
    --black-010: #2a2a30;

    --orange: #fd9839;

}